<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="max-size" />
    <title>Users</title>
    <style>
        th, td {
            padding: 25px;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <link rel="shortcut icon" href="#">
    <script src="../static/js/main.js" ></script>
</head>

<body>

<header>
    <div sec:authorize="isAuthenticated()" class="container-fluid bg-dark">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand text-white" href="#"><h5><span sec:authentication="name"></span></h5></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active text-white-50">

                        <h5>with roles:
                            <span sec:authorize="hasAnyRole('ROLE_ADMIN')">
                               ROLE_ADMIN
                            </span>
                            <span sec:authorize="hasAnyRole('ROLE_USER')">
                                ROLE_USER
                            </span>
                        </h5>
                    </li>
                </ul>
                <a class="nav-link text-white-50" href="http://localhost:8080/login">Logout</a>
            </div>
        </nav>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="list-group nav nav-pills flex-column" role="tablist">
                <a class="nav-link active" id="nav-admin-view" data-toggle="list" sec:authorize="hasRole('ROLE_ADMIN')"
                   href="#oneBl" role="list" aria-controls="oneBl" aria-selected="true">Admin</a>
                <a class="nav-link" id="nav-user-view" data-toggle="list" sec:authorize="hasRole('ROLE_USER')"
                   href="#twoBl" role="list" aria-controls="oneBl" aria-selected="false">User</a>
            </div>
        </div>
        <div class=" col-10 p-5 mb-2 tab-content bg-light" >
            <div class="tab-pane fade show active" id="oneBl" sec:authorize="hasRole('ROLE_ADMIN')" aria-labelledby="nav-admin-view">
                <h1>Admin panel</h1>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">User table</a>
                        <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">New User</a>
                    </div>
                </nav>
                <div class="tab-content " id="nav-tabContent" >
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="tab-content">
                            <div class="card">
                                <div class="card-header">
                                    <b>All Users</b>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped border" id="dynamic">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Login</th>
                                            <th>Password</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="users_tbody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--                    Add new User-->
                    <div class="tab-pane fade col-md-auto"  id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="tab-content">
                            <div class="card">
                                <div class="card-header">
                                    <b>Add new user</b>
                                </div>
                                <div class="card-body" align="center">

                                    <div class="newUser">
                                        <form id="new_user_form">
                                            <div class="form-group">
                                                <label for="new_name"><b>Name</b></label>
                                                <input type="text"  class="form-control mb-1 col-4"
                                                       id="new_name" aria-describedby="nameHelp">
                                            </div>
                                            <div class="form-group">
                                                <label for="new_username"><b>Username</b></label>
                                                <input type="text"  class="form-control mb-1 col-4"
                                                       id="new_username" aria-describedby="emailHelp">
                                            </div>
                                            <div class="form-group">
                                                <label for="new_password"><b>Password</b></label>
                                                <input type="password"
                                                       class="form-control mb-1 col-4"
                                                       id="new_password">
                                            </div>

                                            <div class="form-group">
                                                <label><b>Role</b>
                                                    <select multiple required size="2" name="select_role" class="form-control"
                                                            id="new_role">
                                                        <option name="ROLE_ADMiN" value="1">ADMIN</option>
                                                        <option name="ROLE_USER" value="2" selected="selected">USER</option>
                                                    </select>
                                                </label>
                                            </div>
                                            <button id="btn_new_user" type="submit" class="btn btn-success col-2">Add new user</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--            <div class="tab-pane fade show" id="twoBl" sec:authorize="hasRole('ROLE_USER')" aria-labelledby="nav-user-view">-->
            <!--                <h1>User information-page</h1>-->
            <!--                <ul class="nav nav-tabs" role="tablist">-->
            <!--                    <li class="nav-item">-->
            <!--                        <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="admin"-->
            <!--                           aria-selected="true" href="/admin">User table</a>-->
            <!--                    </li>-->
            <!--                </ul>-->
            <!--                <div class="tab-content container-fluid">-->
            <!--                    <div class="card">-->
            <!--                        <div class="card-header">-->
            <!--                            <b>About User</b>-->
            <!--                        </div>-->
            <!--                        <div class="card-body">-->
            <!--                            <table class="table table-striped border">-->
            <!--                                <thead>-->
            <!--                                <tr>-->
            <!--                                    <th>ID</th>-->
            <!--                                    <th>Name</th>-->
            <!--                                    <th>Role</th>-->
            <!--                                </tr>-->
            <!--                                </thead>-->
            <!--                                <tbody>-->
            <!--                                <tr>-->
            <!--                                    <th><span sec:authentication="principal.id"></span></th>-->
            <!--                                    <th><span sec:authentication="principal.username"></span></th>-->
            <!--                                    <th><span sec:authentication="principal.authorities"></span></th>-->
            <!--                                </tr>-->
            <!--                                </tbody>-->
            <!--                            </table>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
    </div>
</div>

<!--Модальное окно редактирования-->
<div class="modal fade"  tabindex="-1"
     role="dialog" aria-labelledby="editModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-center font-weight-bold">

            <div class="modal-header">
                <h5 class="modal-title">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form id="add_user_form">
                <div align="center">
                    <div class="modal-body">
                        <label for="add_id" class="col-form-label">ID</label>
                        <input type="number" class="form-control mb-6 col-8" disabled
                               id="add_id"
                               name="id"
                               value="">
                    </div>

                    <div class="form-group">
                        <label for="edd_name" class="col-form-label">Name</label>
                        <input type="text" class="form-control mb-6 col-8"
                               id="edd_name"
                               name="name"
                               value="">
                    </div>


                    <div class="form-group">
                        <label for="add_username" class="col-form-label">Username</label>
                        <input type="text" class="form-control mb-6 col-8"
                               id="add_username"
                               name="username"
                               value="">
                    </div>

                    <div class="form-group">
                        <label for="add_password" class="col-form-label">Password</label>
                        <input type="text" class="form-control mb-6 col-8"
                               id="add_password"
                               name="password"
                               value="">
                    </div>

                    <div class="form-group">
                        <label><b>Role</b>
                            <select multiple required size="2" name="select_role" class="form-control"
                                    id="add_role" >
                                <option name="ROLE_ADMiN" value="1">ADMIN</option>
                                <option name="ROLE_USER" value="2" selected="selected">USER</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="close_add_btn" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="add_btn" class="btn btn-info col-2" >Edit</button>

                </div>
            </form>
        </div>
    </div>
</div>





<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>